$icomoon-font-path: "fonts" !default;

$arrow-down: "\e900";
$arrow-left: "\e901";
$arrow-right: "\e902";
$arrow-up: "\e903";
$auszeichnung: "\e904";
$controlling: "\e905";
$facebook: "\e906";
$form: "\e907";
$logo-path1: "\e908";
$logo-path2: "\e909";
$logo-path3: "\e90a";
$logo-path4: "\e90b";
$logo-path5: "\e90c";
$logo-path6: "\e90d";
$logo-path7: "\e90e";
$logo-path8: "\e90f";
$logo-path9: "\e910";
$logo-path10: "\e911";
$logo-path11: "\e912";
$logo-path12: "\e913";
$logo-path13: "\e914";
$logo-path14: "\e915";
$logo-path15: "\e916";
$logo-path16: "\e917";
$logo-path17: "\e918";
$logo-path18: "\e919";
$logo-path19: "\e91a";
$logo-path20: "\e91b";
$logo-path21: "\e91c";
$logo-path22: "\e91d";
$logo-path23: "\e91e";
$logo-path24: "\e91f";
$logo-path25: "\e920";
$logo-path26: "\e921";
$logo-path27: "\e922";
$logo-path28: "\e923";
$logo-path29: "\e924";
$logo-path30: "\e925";
$logo-path31: "\e926";
$logo-path32: "\e927";
$logo-path33: "\e928";
$logo-path34: "\e929";
$logo-path35: "\e92a";
$logo-path36: "\e92b";
$logo-path37: "\e92c";
$logo-path38: "\e92d";
$logo-path39: "\e92e";
$logo-path40: "\e92f";
$logo-path41: "\e930";
$logo-path42: "\e931";
$logo-path43: "\e932";
$logo-path44: "\e933";
$logo-path45: "\e934";
$logo-path46: "\e935";
$logo-path47: "\e936";
$logo-path48: "\e937";
$map-marker-path1: "\e938";
$map-marker-path2: "\e939";
$marken-monitor: "\e93a";
$marketing-konzept: "\e93b";
$play: "\e93c";
$preis-strategie: "\e93d";
$quote: "\e93e";
$strategie: "\e940";
$strategie-implementierung: "\e93f";
$team: "\e941";
$youtube: "\e942";

